@import "../../../../assets/styles/variables";

.blog-card {
  width: 292px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  cursor: pointer;

  .blog-card-image {
    position: relative;
    width: 291px;
    height: 291px;
    border-radius: 5px;
    margin-bottom: 15px;
    overflow: hidden; // обрезаем всё, что выходит за границы

    img {
      width: 100%;
      height: 100%;
      object-fit: cover; // заполняет контейнер без искажений
      object-position: center; // центрируем изображение (можно изменить)
    }

    .blog-card-label {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 89px;
      height: 34px;
      right: 9px;
      top: 10px;
      background: #FFFFFF;
      border-radius: 5px;

      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 11px;
      text-align: center;
      color: $blue-text-color;
    }
  }

  .blog-card-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: $blue-text-color;
    margin-bottom: 20px;
  }

  .blog-card-text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: $black-text-color;
    margin-bottom: 20px;
  }

  .blog-card-detail {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-decoration-line: underline;
    color: $blue-text-color;
  }
}
