@import "../../../assets/styles/variables";

.main {
  margin-bottom: 120px;

  .container {
    .main-carousel {
      position: relative;
      overflow: hidden; /* Скрываем все что выходит за границы */

      .main-item {
        width: 1239px !important;
        height: 500px;
        padding-left: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .main-item-label {
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          letter-spacing: 0.4em;
          text-transform: uppercase;
          color: $blue-text-color;
          margin: 0;
          padding: 0;
        }

        .main-item-title {
          font-family: 'Lora', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 50px;
          line-height: 130%;
          color: #FFFFFF;
          margin: 0;

          strong, span {
            color: $blue-text-color;
          }
        }

        .main-item-text {
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 130%;
          color: #FFFFFF;
          margin: 20px 0 10px 0;
        }

        .details-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 163px;
          height: 51px;
          background: $blue-text-color;
          border-radius: 5px;
          font-family: 'Montserrat', sans-serif;
          font-size: 16px;
          color: #FFFFFF;
          cursor: pointer;
          border: none;
          margin-top: 40px;
        }
      }

      .main-carousel-arrows {
        a {
          top: calc(50% - 30px);
          cursor: pointer;
          position: absolute;

          &.move-backward {
            left: 10px;
            z-index: 5;
          }

          &.move-forward {
            right: 10px;
            z-index: 5;
          }
        }
      }
    }
  }
}

::ng-deep .owl-theme .owl-dots {
  position: absolute !important;
  bottom: 10px; /* Внутри слайда, над кнопкой */
  left: 50% !important;
  transform: translateX(-50%) !important;
  margin-top: 0 !important;
  z-index: 10;

  .owl-dot {
    span {
      width: 10px;
      height: 10px;
      border: 1px solid #FFFFFF;
      background: none;
      margin: 10px;
    }

    &.active span {
      background: #FFFFFF !important;
    }

    &:hover span {
      background: #FFFFFF;
    }
  }
}

.services {
  margin-bottom: 120px;

  .container {
    .services-title {
      font-family: 'Lora', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 38px;
      line-height: 130%;
      color: $blue-text-color;
      margin-bottom: 40px;
    }

    .services-cards {
      display: flex;
      gap: 26px;

      .services-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 290px;

        .card-image img {
          width: 100%;
        }

        .card-title {
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          color: $blue-text-color;
          margin: 15px 0 10px 0;
        }

        .card-text {
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 130%;
          color: $black-text-color;
        }

        .card-info {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 15px;

          .card-price {
            margin-right: 21px;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            color: $blue-text-color;
            text-wrap: nowrap;
          }

          .card-btn {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 15px 40px;
            margin: 0 auto;
            width: 163px;
            height: 51px;
            background: $blue-text-color;
            border-radius: 5px;
            cursor: pointer;
            border: none;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            color: #FFFFFF;
          }
        }
      }
    }
  }
}

.info {
  margin-bottom: 120px;

  .container {
    display: flex;

    .info-image {
      margin-right: 68px;
    }

    .info-block {
      .info-title {
        font-family: 'Lora', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 38px;
        color: $blue-text-color;
      }

      .info-txt {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        color: #1E1A2B;
        margin: 20px 0 40px 0;
      }

      .info-advantages {
        .info-advantages-title {
          font-family: 'Lora', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 26px;
          color: $blue-text-color;
          margin-bottom: 20px;
        }

        .info-advantages-items {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          gap: 20px;

          .info-advantages-item {
            display: flex;
            align-items: center;
            width: calc(50% - 20px); // Две колонки с отступом

            .item-number {
              margin-right: 20px;
              position: relative;
              width: 40px;
              height: 40px;
              flex-shrink: 0; // Запрещаем сжиматься
              background: #B9D5FD;
              border-radius: 50%;

              .item-number-numb {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -65%); // Смещение вверх и влево
                line-height: 1;
                font-family: 'Lora', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 50px;
                color: $blue-text-color;
              }
            }

            .item-text {
              font-family: 'Montserrat', sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 130%;
              color: #1E1A2B;
            }

          }
        }
      }
    }
  }
}
