@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

.main {
  margin-bottom: 120px;

  .container {
    .main-carousel {
      position: relative;
      overflow: hidden;

      .main-item {
        width: 1239px !important;
        height: 500px;
        padding-left: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .main-item-label {
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          letter-spacing: 0.4em;
          text-transform: uppercase;
          color: $blue-text-color;
          margin: 0;
          padding: 0;
        }

        .main-item-title {
          @include head-lora-50;
          margin: 0;

          strong, span {
            color: $blue-text-color;
          }
        }

        .main-item-text {
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 130%;
          color: #FFFFFF;
          margin: 20px 0 10px 0;
        }

        .details-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 163px;
          height: 51px;
          background: $blue-text-color;
          border-radius: 5px;
          font-family: 'Montserrat', sans-serif;
          font-size: 16px;
          color: #FFFFFF;
          cursor: pointer;
          border: none;
          margin-top: 40px;
        }
      }

      .main-carousel-arrows {
        a {
          top: calc(50% - 30px);
          cursor: pointer;
          position: absolute;

          &.move-backward {
            left: 10px;
            z-index: 5;
          }

          &.move-forward {
            right: 10px;
            z-index: 5;
          }
        }
      }
    }
  }
}

::ng-deep .owl-theme .owl-dots {
  position: absolute !important;
  bottom: 10px; /* Внутри слайда, над кнопкой */
  left: 50% !important;
  transform: translateX(-50%) !important;
  margin-top: 0 !important;
  z-index: 10;

  .owl-dot {
    span {
      width: 10px;
      height: 10px;
      border: 1px solid #FFFFFF;
      background: none;
      margin: 10px;
    }

    &.active span {
      background: #FFFFFF !important;
    }

    &:hover span {
      background: #FFFFFF;
    }
  }
}

.services {
  margin-bottom: 120px;

  .container {
    .services-title {
      @include head-lora-38;
      margin-bottom: 40px;
    }

    .services-cards {
      display: flex;
      gap: 26px;
      flex-wrap: wrap;
      justify-content: flex-start;

      .services-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 290px;

        .card-image img {
          width: 100%;
        }

        .card-title {
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          color: $blue-text-color;
          margin: 15px 0 10px 0;
        }

        .card-text {
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 130%;
          color: $black-text-color;
        }

        .card-info {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 15px;

          .card-price {
            margin-right: 21px;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            color: $blue-text-color;
            text-wrap: nowrap;
          }

          .card-btn {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 15px 40px;
            margin: 0 auto;
            width: 163px;
            height: 51px;
            background: $blue-text-color;
            border-radius: 5px;
            cursor: pointer;
            border: none;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            color: #FFFFFF;
          }
        }
      }
    }
  }
}

.info {
  margin-bottom: 120px;

  .container {
    display: flex;

    .info-image {
      margin-right: 68px;
    }

    .info-block {
      .info-title {
        @include head-lora-38;
      }

      .info-txt {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        color: #1E1A2B;
        margin: 20px 0 40px 0;
      }

      .info-advantages {
        .info-advantages-title {
          @include head-lora-26;
          margin-bottom: 20px;
        }

        .info-advantages-items {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          gap: 20px;

          .info-advantages-item {
            display: flex;
            align-items: center;
            width: calc(50% - 20px); // Две колонки с отступом

            .item-number {
              margin-right: 20px;
              position: relative;
              width: 40px;
              height: 40px;
              flex-shrink: 0; // Запрещаем сжиматься
              background: #B9D5FD;
              border-radius: 50%;

              .item-number-numb {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -65%); // Смещение вверх и влево
                line-height: 1;
                @include head-lora-50;
                font-weight: 500;
                color: $blue-text-color;
              }
            }

            .item-text {
              font-family: 'Montserrat', sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 130%;
              color: #1E1A2B;
            }
          }
        }
      }
    }
  }
}

.blog {
  margin-bottom: 120px;

  .container {
    .blog-title {
      @include head-lora-38;
      margin-bottom: 40px;
    }

    .blog-cards {
      display: flex;
      justify-content: flex-start;
      gap: 24px;
      flex-wrap: wrap;
    }

    .blog-link {
      display: flex;
      justify-content: flex-end;
      margin-top: 40px;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      color: $blue-text-color;
      align-items: center;
      cursor: pointer;
      text-decoration: none;

      svg {
        margin-left: 14px;
      }
    }
  }
}

.reviews {
  margin-bottom: 120px;

  .container {
    .reviews-title {
      @include head-lora-38;
      margin-bottom: 20px;
    }

    .reviews-carousel {
      position: relative;
      height: calc(100% - 2px); // Учитываем границу

      .reviews-item {
        width: 396px;
        height: 267px;
        padding: 30px;
        border: 2px solid $blue-text-color;
        border-radius: 5px;
        box-sizing: border-box;

        .reviews-item-head {
          display: flex;
          align-items: center;

          .reviews-item-image {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-position: center;
            background-size: cover;
            margin-right: 26px;
          }

          .reviews-item-name {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            color: $blue-text-color;
          }
        }

        .reviews-item-text {
          margin-top: 15px;
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 140%;
          color: $black-text-color;
        }
      }

      .reviews-arrows {
        display: flex;

        a {
          top: calc(50% - 5px);
          display: flex;
          position: absolute;
          cursor: pointer;

          &.move-backward {
            left: -25px;
          }

          &.move-forward {
            right: -25px;
          }
        }
      }
    }
  }
}

.contacts {
  margin-bottom: 120px;

  .container {
    display: flex;

    .contact-map {
      margin-right: 26px;
    }

    .contact-items {

      .contact-items-title {
        @include head-lora-38;
        margin-bottom: 20px;
      }

      .contact-item {
        margin-bottom: 20px;

        .contact-item-title {
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          color: $blue-text-color;
          margin-bottom: 10px;
        }

        .contact-item-text {
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 130%;
          color: $black-text-color;
          text-decoration: none;

          svg {
            margin-right: 20px;
          }
        }
      }
    }
  }
}

// Стили для модальных окон
.order-popup,
.order-popup-thank {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  width: 100%;
  height: 100%;

  .order-container {
    top: calc(50% - 245px);
    left: calc(50% - 313px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    width: 727px;
    height: 489px;
    background: #FFFFFF;
    border: 1.5px solid $blue-text-color;
    border-radius: 10px;

    .order-popup-close {
      position: absolute;
      cursor: pointer;
      top: 30px;
      right: 30px;

      &:hover {
        opacity: 0.7;
      }
    }

    .order-popup-title {
      @include head-lora-38;
      margin-bottom: 20px;
    }

    .order-popup-content {
      display: flex;
      flex-direction: column;
      width: 422px;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 14px;

      .input {
        margin-bottom: 5px;
        color: $blue-text-color;
        background: #FFFFFF;
        border: 1.5px solid $blue-text-color;
        border-radius: 3px;
      }

      select.input {
        appearance: none;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23709FDC' d='M10.293 3.293L6 7.586 1.707 3.293A1 1 0 00.293 4.707l5 5a1 1 0 001.414 0l5-5a1 1 0 10-1.414-1.414z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: right 15px center;
        padding-right: 40px;
      }

      .error-message {
        color: red;
        font-size: 12px;
        margin-bottom: 5px;
      }

      .submit-error {
        color: red;
        font-size: 14px;
        padding: 10px;
      }

      .button {
        margin-top: 15px;
      }
    }

    .order-popup-thank-content {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      text-align: center;
      color: #1E1A2B;
      margin-bottom: 40px;
    }

    .order-popup-thank-btn {
      font-weight: 500;
      font-size: 12px;
      line-height: 130%;
      color: #FFFFFF;
      padding: 10px 20px;
    }
  }
}
