@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.detail {
  margin: 80px 0 120px 0;

  @include respond-to(md) {
    margin: 40px 0 60px 0;
  }

  @include respond-to(sm) {
    margin: 30px 0 40px 0;
  }

  .container {
    .detail-breadcrumbs {
      .detail-breadcrumbs-text {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #B9D5FD;

        @include respond-to(sm) {
          font-size: 14px;
        }

        span {
          color: $blue-text-color;
        }
      }
    }

    .detail-header {
      margin: 60px 0;
      display: flex;
      justify-content: space-between;

      @include respond-to(lg) {
        flex-direction: column;
        margin: 40px 0;
      }

      @include respond-to(sm) {
        margin: 30px 0;
      }

      .detail-header-block {
        width: 607px;
        color: $blue-text-color;

        @include respond-to(lg) {
          width: 100%;
          margin-bottom: 30px;
        }

        .detail-header-block-title {
          @include head-lora-38;
          margin-bottom: 40px;

          @include respond-to(sm) {
            margin-bottom: 25px;
            text-align: center;
          }
        }

        .detail-header-block-text {
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 130%;

          @include respond-to(md) {
            font-size: 18px;
          }

          @include respond-to(sm) {
            font-size: 16px;
          }
        }
      }

      .detail-header-img {
        @include respond-to(lg) {
          width: 100%;
          text-align: center;
        }

        img {
          box-sizing: border-box;
          width: 527px;
          border-radius: 5px;

          @include respond-to(lg) {
            width: 100%;
            max-width: 527px;
          }

          @include respond-to(sm) {
            max-width: 100%;
          }
        }
      }
    }

    .detail-body {
      display: flex;
      justify-content: space-between;

      @include respond-to(lg) {
        flex-direction: column;
      }

      .detail-body-article {
        margin-right: 130px;

        @include respond-to(lg) {
          margin-right: 0;
          margin-bottom: 40px;
        }

        @include respond-to(sm) {
          margin-bottom: 30px;
        }

        .detail-body-article-text {
          ::ng-deep {
            h1, h2, h3 {
              color: $blue-text-color;
            }

            p {
              font-size: 14px;
              line-height: 130%;
              color: #071739;
              margin-top: 20px;

              @include respond-to(sm) {
                font-size: 13px;
                margin-top: 15px;
              }
            }
          }
        }

        .detail-body-article-share {
          margin-top: 61px;
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          color: $blue-text-color;
          display: flex;
          align-items: center;

          @include respond-to(md) {
            margin-top: 40px;
            flex-wrap: wrap;
          }

          @include respond-to(sm) {
            margin-top: 30px;
            justify-content: center;
            font-size: 12px;
          }

          p {
            margin-right: 20px;

            @include respond-to(sm) {
              margin-right: 10px;
              margin-bottom: 10px;
            }
          }

          a {
            margin-right: 14px;

            @include respond-to(sm) {
              margin-right: 8px;
            }
          }
        }
      }

      .detail-body-announce {
        margin-top: 60px;

        @include respond-to(lg) {
          margin-top: 0;
        }

        @include respond-to(sm) {
          margin-top: 30px;
        }

        .detail-body-announce-title {
          @include head-lora-26;
          color: #709FDC;
          margin-bottom: 20px;

          @include respond-to(sm) {
            text-align: center;
          }
        }

        .detail-body-announce-card {
          width: 292px;
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          row-gap: 60px;

          @include respond-to(lg) {
            width: 100%;
            max-width: 292px;
            margin: 0 auto;
          }

          @include respond-to(sm) {
            row-gap: 40px;
          }
        }
      }
    }

    .detail-comments {
      margin-top: 120px;

      @include respond-to(md) {
        margin-top: 60px;
      }

      @include respond-to(sm) {
        margin-top: 40px;
      }

      .detail-comments-title {
        @include head-lora-38;
        line-height: unset;
        display: flex;
        flex-direction: column;

        @include respond-to(sm) {
          text-align: center;
        }

        span {
          margin-top: 20px;
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          color: #071739;
          line-height: unset;

          @include respond-to(sm) {
            font-size: 12px;
            margin-top: 15px;
          }

          a {
            color: $blue-text-color;
            cursor: pointer;
            text-decoration: none;
          }
        }
      }

      .detail-comments-login {
        margin-top: 40px;
        width: 818px;

        @include respond-to(lg) {
          width: 100%;
          max-width: 818px;
        }

        @include respond-to(sm) {
          margin-top: 30px;
        }

        .detail-comments-input {
          box-sizing: border-box;
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          padding: 17px 20px;
          width: 818px;
          height: 248px;
          background: #FFFFFF;
          border: 2px solid #709FDC;
          border-radius: 3px;
          margin-bottom: 20px;
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          color: $black-text-color;

          @include respond-to(lg) {
            width: 100%;
          }

          @include respond-to(md) {
            height: 200px;
            padding: 15px;
          }

          @include respond-to(sm) {
            height: 150px;
            padding: 12px;
            font-size: 13px;
          }

          &.invalid {
            border-color: #ff5252;
          }

          &:focus {
            outline: none;
            border-color: #3d7dc9;
          }
        }

        .error-message {
          color: #ff5252;
          font-size: 12px;
          margin-top: -15px;
          margin-bottom: 10px;

          @include respond-to(sm) {
            font-size: 11px;
          }
        }

        .submit-error {
          color: #ff5252;
          font-size: 14px;
          margin-bottom: 15px;

          @include respond-to(sm) {
            font-size: 12px;
          }
        }

        .detail-comments-btn {
          justify-content: center;
          align-items: center;
          padding: 15px 40px;
          width: 422px;
          height: 51px;
          background: $blue-text-color;
          border-radius: 5px;
          font-size: 16px;
          color: #FFFFFF;
          cursor: pointer;
          border: none;
          transition: background-color 0.3s ease;

          @include respond-to(md) {
            width: 100%;
            max-width: 422px;
            padding: 12px 30px;
            height: 45px;
            font-size: 14px;
          }

          @include respond-to(sm) {
            width: 100%;
            height: 40px;
            font-size: 13px;
            padding: 10px 20px;
          }

          &:hover:not(:disabled) {
            background-color: #3d7dc9;
          }

          &:disabled {
            background-color: #cccccc;
            cursor: not-allowed;
            opacity: 0.7;
          }
        }
      }

      .detail-comments-user {
        margin: 60px 0;

        @include respond-to(md) {
          margin: 40px 0;
        }

        @include respond-to(sm) {
          margin: 30px 0;
        }
      }

      .load-more-container {

        .detail-comments-user-more {
          display: flex;
          width: 336px;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;

          @include respond-to(sm) {
            width: 100%;
            max-width: 336px;
            margin: 0 auto;
          }

          .detail-comments-user-more-title {
            font-weight: 500;
            font-size: 20px;
            color: $blue-text-color;
            margin-right: 10px;

            @include respond-to(sm) {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
