@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/global";

header.header {
  padding: 40px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;

    .header-menu {

      nav ul {
        margin: 0;
        padding: 0;
        display: flex;
        gap: 30px;

        li {
          list-style: none;
          border-bottom: 1px solid transparent;

          a {
            color: $black-text-color;
            cursor: pointer;
            text-decoration: none;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            transition: all 0.3s ease; // Добавляем плавный переход для всех свойств

            &:hover {
              color: $blue-text-color;
            }

            &.active {
              color: $blue-text-color;
            }
          }
        }
      }
    }

    .header-phone {
      color: $blue-text-color;
      text-decoration: none;
    }

    .header-actions {
      display: flex;

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        cursor: pointer;

        span {
          color: $black-text-color;
          margin-left: 7px;
        }
      }

    }
  }
}
