@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/global";

header.header {
  padding: 40px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;

    .header-menu {
      margin-left: 100px;
      margin-right: 257px;

      nav ul {
        margin: 0;
        padding: 0;
        display: flex;
        gap: 30px;

        li {
          list-style: none;
          border-bottom: 1px solid transparent;
          //font-family: 'Montserrat', sans-serif;
          //font-style: normal;
          //font-weight: 500;

          a {
            color: $black-text-color;
            cursor: pointer;
            text-decoration: none;

            &:hover, &:active {
              color: $blue-text-color;
            }
          }
        }
      }
    }

    .header-phone {
      color: $blue-text-color;
      margin-right: 89px;
    }

    .header-actions {
      display: flex;

      a {
        display: flex;
        align-items: center;

        span {
          color: $black-text-color;
          margin-left: 7px;

        }
      }

    }
  }
}
