@import "variables";

// Миксины для медиа-запросов
@mixin respond-to($breakpoint) {
  @if $breakpoint == xl {
    @media screen and (max-width: $breakpoint-xl) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media screen and (max-width: $breakpoint-lg) {
      @content;
    }
  } @else if $breakpoint == md {
    @media screen and (max-width: $breakpoint-md) {
      @content;
    }
  } @else if $breakpoint == sm {
    @media screen and (max-width: $breakpoint-sm) {
      @content;
    }
  } @else if $breakpoint == xs {
    @media screen and (max-width: $breakpoint-xs) {
      @content;
    }
  }
}

// Адаптивные шрифты
@mixin head-lora-38 {
  font-family: 'Lora', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 130%;
  color: $blue-text-color;

  @include respond-to(md) {
    font-size: 32px;
  }

  @include respond-to(sm) {
    font-size: 28px;
  }
}

@mixin head-lora-26 {
  font-family: 'Lora', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  color: $blue-text-color;

  @include respond-to(md) {
    font-size: 22px;
  }

  @include respond-to(sm) {
    font-size: 20px;
  }
}

@mixin head-lora-50 {
  font-family: 'Lora', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 130%;
  color: #FFFFFF;

  @include respond-to(lg) {
    font-size: 42px;
  }

  @include respond-to(md) {
    font-size: 36px;
  }

  @include respond-to(sm) {
    font-size: 28px;
  }
}

// Адаптивный контейнер
@mixin container {
  max-width: $container-width;
  margin: 0 auto;

  @include respond-to(lg) {
    padding: 0 15px;
  }

  @include respond-to(sm) {
    padding: 0 10px;
  }
}
