$container-width: 1240px;
$blue-text-color: #709FDC;
$black-text-color: #071739;

// Брейкпоинты для адаптива
$breakpoint-xl: 1240px; // десктоп
$breakpoint-lg: 992px;  // планшеты (ландшафт)
$breakpoint-md: 768px;  // планшеты (портрет)
$breakpoint-sm: 576px;  // мобильные (большие)
$breakpoint-xs: 375px;  // мобильные (маленькие)
