@import "../../../../assets/styles/auth-form";

.login .auth-container {
  display: flex;
  justify-content: space-between;

  .auth-image {
    margin-left: 49px;

    img {
      width: 100%;
    }
  }
}
