@import "../../../../assets/styles/auth-form";
@import "../../../../assets/styles/mixins";

.signup .auth-container {
  display: flex;
  justify-content: space-between;

  @include respond-to(lg) {
    flex-direction: column;
    align-items: center;
  }

  .auth-image {
    margin-left: 49px;

    @include respond-to(lg) {
      margin-left: 0;
      margin-top: 40px;
      width: 100%;
      max-width: 500px;
    }

    @include respond-to(sm) {
      margin-top: 30px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}
