@import "variables";

.auth-container {
  padding: 120px 0;

  .auth-form {

    .auth-title {
      font-family: 'Lora', sans-serif;
      font-weight: 400;
      font-size: 36px;
      color: $blue-text-color;
      margin-bottom: 40px;
    }

    .auth-inputs {

      .auth-input {
        margin-bottom: 5px;

        input {
          width: 422px;
        }
      }

      .auth-checkbox {
        max-width: 422px;
        display: flex;
        align-items: center;
        margin-top: 10px;

        input {
          margin: 0;
        }

        label {
          font-size: 14px;
          line-height: 130%;
          margin-left: 10px;

          a {
            color: #071739;
            text-decoration: none;
          }

          .agree {
            text-decoration-line: underline;
            color: #709FDC;
          }

        }
      }
    }

    .auth-button {
      margin-top: 40px;

      button.button {
        width: 422px;
      }
    }

    .auth-link {
      margin-top: 10px;
      font-size: 14px;
      color: #1E1A2B;

      a {
        text-decoration: none;
        margin-left: 5px;
        color: $blue-text-color;
      }
    }
  }

}

