@import "variables";
@import "fonts";
@import "mixins";
@import "global";

//html, body { height: 100%; }

.success-snackbar {
  background-color: #4caf50 !important;
  color: white !important;
}

.error-snackbar {
  background-color: #f44336 !important;
  color: white !important;
}
